
.frame-group-1 {
    height: 730px;
    max-width: 1920px;
}

.frame-group-2 {
    display: flex;
    height: 500px;
    max-width: 1920px;
    background-color: #F5F5DC;
}

.framebox-1 {

    width: 49%;
    max-width: 960px;
    margin-left: 50px;
    margin-top: 50px;    
    flex-shrink: 0;
    font-size: 30px; 
    font-family: Montserrat;
    line-height: 150%;
    display: block;
    color: black;

    
    }

.framebox-2 {

    width: 49%;
    max-width: 960px;
    margin-left: 116px;
    margin-top: 50px;    
    flex-shrink: 0;
    display: block;
   

    }

.frame-group-3 {
    display: flex;
    height: 838px;
    max-width: 1920px;
    background-color: #003B2E;
    }

.framebox-3 {
    width: 49%;
    max-width: 960px;
    margin-left: 0;
    margin-top: 40px;    
    flex-shrink: 0;
    display: block;
}

.framebox-4 {
    width: 49%;
    max-width: 960px;
    margin-left: 20px;
    margin-top: 40px;  
    font-size: 30px; 
    font-family: Montserrat; 
    line-height: 150%;
    flex-shrink: 0;
    display: block;
    color: #F5F5DC;
}

.frame-group-4 {
    height: 946px;
    max-width: 1920px;
}

.framebox-4-1 {
    margin-top: -300px;
}

.frame-group-5 {
    display: flex;
    height: 763px;
    max-width: 1920px;
    background-color: #003B2E;
}

.framebox-5 {

    width: 49%;
    max-width: 960px;
    margin-left: 0;
    margin-top: 217px;    
    flex-shrink: 0;
    display: block;

    
    }

.framebox-6 {

    width: 49%;
    max-width: 960px;
    margin-left: 50px;
    margin-top: 210px;    
    flex-shrink: 0;
    font-size: 30px; 
    font-family: Montserrat;
    line-height: 150%;
    display: block;
    color: #F5F5DC;

    
    }

.frame-group-6 {
    display: flex;
    height: 550px;
    max-width: 1920px;
    background-color: #F5F5DC;
}

.framebox-7 {

    width: 49%;
    max-width: 960px;
    margin-left: 50px;
    margin-top: 50px;    
    flex-shrink: 0;
    font-size: 30px; 
    font-family: Montserrat;
    line-height: 150%;
    display: block;
    color: black;

    
    }

.framebox-8 {

    width: 49%;
    max-width: 960px;
    margin-left: 0;
    margin-top: 0px;    
    flex-shrink: 0;
    display: block;

    
    }

.frame-group-7 {

    display: flex;
    max-width: 1920px;
    margin-left: 0px;
    margin-top: 0px;    
    flex-shrink: 0;
    background-color: #F5F5DC;
    
}

.framebox-9 {

    max-width: 318px;
    height: 230px;
    margin-left: 600px;
    margin-top: 0px;    
    flex-shrink: 0;
    display: block;
    

}

.frame-group-8 {
    height: 1034px;
    max-width: 1920px;
    display: flex;
}

.framebox-10 {

    max-width: 1920px;
    margin-left: 0px;
    margin-top: 0px;    
    flex-shrink: 0;
    display: block;
    

}

.framebox-10-1 {

    max-width: 1920px;
    margin-left: 0px;
    margin-top: 0px;    
    flex-shrink: 0;
    display: block;
    

}

.frame-group-9 {
    height: 3694px;
    max-width: 1920px;
    background-color: #003B2E;
    display: flex;
}

.framebox-11 {
    max-height: 567px;
    max-width: 452px;
    margin-left: 50px;
    margin-top: 100px;  
    display: block;

}

.framebox-12 {
    max-height: 774px;
    max-width: 1068px;
    margin-left: 200px;
    margin-top: 200px;  
    display: block;
    flex-shrink: 0;
    font-size: 30px; 
    font-family: Montserrat;
    line-height: 150%;
    background-color: #F5F5DC;

}

.framebox-13 {
    max-height: 1024px;
    max-width: 1024px;
    margin-left: 400px;
    margin-top: 500px;  
    display: block;

}

.framebox-14 {
    max-height: 685px;
    max-width: 1068px;
    margin-left: 50px;
    margin-top: 900px;  
    display: block;
    flex-shrink: 0;
    font-size: 30px; 
    font-family: Montserrat;
    line-height: 150%;
    background-color: #F5F5DC;

}

.framebox-15 {
    max-height: 675px;
    max-width: 1200px;
    margin-left: 49px;
    margin-top: 1500px;  
    display: block;

}

.framebox-16 {
    max-height: 584px;
    max-width: 743px;
    margin-left: 600px;
    margin-top: 1700px;  
    display: block;
    flex-shrink: 0;
    font-size: 30px; 
    font-family: Montserrat;
    line-height: 150%;
    background-color: #F5F5DC;

}
.framebox-17 {
    max-height: 314px;
    max-width: 314px;
    margin-left: 700px;
    margin-top: 2200px;  
    display: block;

}