
.frame-group-1 {
    height: 730px;
    max-width: 1920px;
}

.frame-group-2 {
    height: 500px;
    max-width: 1920px;
    background-color: #F5F5DC;
}

.framebox-1 {

    width: 49%;
    max-width: 960px;
    margin-left: 0;
    margin-top: 0;    
    flex-shrink: 0;
    display: block;
    color: black;

    
    }

.framebox-2 {

    width: 49%;
    max-width: 960px;
    margin-left: 0;
    margin-top: 0;    
    flex-shrink: 0;
    display: block;
   

    }

.frame-group-3 {
    height: 838px;
    max-width: 1920px;
    background-color: #003B2E;
    }

.framebox-3 {
    width: 49%;
    max-width: 960px;
    margin-left: 0;
    margin-top: 0;    
    flex-shrink: 0;
    display: block;
}

.framebox-3 {
    width: 49%;
    max-width: 960px;
    margin-left: 0;
    margin-top: 0;    
    flex-shrink: 0;
    display: block;
    color: #F5F5DC;
}